<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap -->
    @Styles.Render("~/bootstrap/css")
    <link href="~/inspinia-admin-master/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/inspinia-admin-master/static/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/inspinia-admin-master/static/css/plugins/dataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/inspinia-admin-master/static/css/animate.css" rel="stylesheet" />
    <link href="~/inspinia-admin-master/static/css/style.css" rel="stylesheet" />
 
</head>
<body>

    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">David Williams</strong>
                                    </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="profile.html">Profile</a></li>
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="mailbox.html">Mailbox</a></li>
                                <li class="divider"></li>
                                <li><a href="login.html">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li class="active">
                        <a href="index.html">
                            <i class="fa fa-th-large"></i>
                            <span class="nav-label">Home</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">

                            <li>

                                <a href="@Url.Action("Index", "WorkflowTypes")">
                                    Workflows

                                    <span class="label label-primary pull-right">Types</span>
                                </a>
                            </li>
                        </ul>
                    </li>


                </ul>

            </div>
        </nav>


    </div>
    @RenderBody()
    @Scripts.Render("~/bootstrap/js")
    <!-- Mainly scripts -->
    <script src="~/inspinia-admin-master/static/js/jquery-2.1.1.js"></script>
    <script src="~/inspinia-admin-master/static/js/bootstrap.min.js"></script>
    <script src="~/inspinia-admin-master/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/inspinia-admin-master/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/inspinia-admin-master/static/js/plugins/jeditable/jquery.jeditable.js"></script>
    <script src="~/inspinia-admin-master/static/js/plugins/dataTables/datatables.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="~/inspinia-admin-master/static/js/inspinia.js"></script>
    <script src="~/inspinia-admin-master/static/js/plugins/pace/pace.min.js"></script>
    @RenderSection("scripts", required: false)
    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> Advanced programs &copy; 2020
        </div>
    </div>
</body>


</html>
