
@{
    ViewData["Title"] = "workflow types";
}
@using AdvancedWf.Shared.Resources
<body>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Home</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">@Messages.Home</a>
                </li>
                <li>
                    <a>@Messages.Workflows</a>
                </li>
                <li class="active">
                    <strong>@Messages.Workflowtypes</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <a class="ladda-button btn btn-warning" data-style="zoom-out"
                               href="@Url.Action("Create","WorkflowTypes")">
                                @Messages.Create
                            </a>
                   
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                       
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th>@Messages.Id</th>
                                        <th>@Messages.ArabicName</th>
                                        <th>@Messages.EnglishName</th>
                                        
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
<!-- Page-Level Scripts -->
@section Scripts {

    <script>
            $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},
                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ],
                            "processing": true,
                            "responsive": true,
                               "searching": true,
                              "stateSave": false,
                            "serverSide": true,
                  "ajax": {
                      "url": '@Url.Action("GetList", "WorkflowTypes")', 
                      "type": 'GET'
                      
                },
                columns: [
                    { data: 'Id' },
                    { data: 'ArbicName' },
                    { data: 'EnglishName' },
                ],
                columnDefs: 
                    [
                    {
                        "render": function (data, type, row)
                        {
                            console.log(data);
                            console.log(type);
                            console.log(row);
                            result = '<div class="">';

                             result += '<a class="btn btn-warning" href="@Url.Action("View")' + "/" + row['Id'] + '" title="@Messages.Details">@Messages.Details</a>';
                             result += '<a class="btn btn-success" href="@Url.Action("Edit")' + "/" + row['Id'] + '" title= "@Messages.Edit">@Messages.Edit</a > <a class="btn btn-danger" href="@Url.Action("Delete")' + "/" + row['Id'] + '"  title= "@Messages.Delete" >@Messages.Delete</a > ';
                             result += "</div>";
                            return result;
                        }, "targets":3, 
                    }
                ]

            });

   


        });
 

    </script>

}
